.btnSave {
  background: rgb(65, 130, 249);
  outline: none;
  border: 0px;
  border-radius: 6px;
  padding: 6px 20px;
  color: white;
  cursor: pointer;
}
.lapelImg {
  background: rgb(65, 130, 249);
  outline: none;
  border: 0px;
  border-radius: 6px;
  padding: 6px 20px;
  color: white;
  cursor: pointer;
}
.inputImg {
  display: none;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.containerImage {
  display: flex;
  justify-content: center;
  border-radius: 100px;
  background-color: rgb(209, 146, 153);
  overflow: hidden;
}