.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 250, 252);
  width: 100%;
  padding: 50px 10px;
}

.StylingSocial {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 26px;
  width: 400px;
  justify-content: space-between;
  font-size: 21px;
  background: rgb(241, 245, 249);
  padding: 10px 20px;
  border-radius: 14px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.conToSocial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.StylingSocial svg {
  rotate: 270deg;
}
.StylingSocial > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.StylingSocial > div span {
  font-size: 18px;
}
.conToSocial .StylingSocial:first-child svg {
  color: rgb(95, 213, 104);
  height: 37px;
  width: 37px;
}
.conToSocial .StylingSocial:nth-child(2) svg {
  color: #007bff;
  height: 37px;
  width: 37px;
}
.StylingSocial > span {
  font-size: 16px;
}

.ConToLinks {
  margin: 50px 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.ConToLinks > a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-decoration: none;
  background-color: white;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ConToLinks > a > div {
  background-color: #94a3b8;
  color: white;
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Seprator {
  position: relative;
}

.Seprator::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #94a3b8;
  margin: 10px 0;
}
.Seprator::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #94a3b8;
  margin: 10px 0;
}

.FormStyling {
  height: 500px;
}
