.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerCard {
  margin-bottom: 40px;
  position: relative;
  z-index: 10;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  height: 620px;
}
