@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap");

:root {
  --second-main-color: rgb(65, 130, 249);
  --main-bg-color:#eaf1ff;
}

* {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

._link_ime3h_13.active::before {
  background-color: rgb(34, 139, 230);
  width: 100%;
}
